DATABASE_URL='postgres://johndoe:mypassword@ap-flat-art-89761220-pooler.us-east-1.aws.neon.tech:5432/mydb?sslmode=require&pgbouncer=true&connect_timeout=15'

SERVER_PORT=3000
JWT_ACCESS_KEY='secRetService@195='
APP_DOCS='enabled'
APP_URL='http://localhost'